<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.effortapp.business">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".MyApplication"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".view.guide.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.guide.GuideActivity"></activity>
        <activity
            android:name=".view.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!--全面屏问题-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />
    </application>

</manifest>